.bg-c {
    background-color:rgb(172, 207, 229);
}

.bg-img {
    background-image: url(./img/pattern.png);    
}

.bg-h {
    background-size: 30%;
}

body {
    width: 70%;
    margin: auto;
}

.pagetop {
    background-image: url(./img/pattern.png);
    background-size: 30%;
    background-color: rgb(172, 207, 229);
    display: block;
}

.list {
    padding-left: 0px;
    list-style-position: inside;
}

.table {
    border: 1px white;   
}

.tr-color {
    background-color:rgba(135, 206, 250, 0.685);
}

.th-color {
    color: white;
    background-color: royalblue;
}

.footer-class {
    background-color: rgb(25, 55, 112);
    text-align: center;
    color: white;
    height: 80px;
}
